<ion-header>
  <ion-navbar>
    <ion-title>Komuditas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider color="primary">
    {{tanggal}}
    <!-- <button ion-button icon-only clear item-end color="light" (click)="reloadPage()">
      <ion-icon name="refresh"></ion-icon>
    </button> -->
  </ion-item-divider>

  <ion-card *ngFor="let produk of produks" (click)="openDetail(produk.id, produk.nama, produk.harga, produk.tanggal)">
    <ion-item no-padding>

      <ion-thumbnail item-start>
      <img src="https://dummyimage.com/200x200/32db64/ffffff&text=Ok" *ngIf="produk.status != 0">
      <img src="https://dummyimage.com/200x200/f53d3d/ffffff&text=Komuditas" *ngIf="produk.status != 1">
      </ion-thumbnail>  

      <ion-card-content no-padding>
        <ion-card-title>
          <div class="card-title">{{produk.nama}}</div>
        </ion-card-title>
        <div class="card-subtitle">Rp.{{produk.vharga}}</div>
        
      </ion-card-content>

      <ion-icon name="arrow-forward" item-end></ion-icon>

    </ion-item>

  </ion-card>

</ion-content>
